footer {
    background-color: rgb(252, 0, 0);
  }
 header {
    background-color:rgb(0, 255, 64) 
  }
 main {
    background-color:blue
  }
  footer{
    font-size: 30px;
 }
main{
    font-size: 25px;
 }
 fheader{
    font-size: 18px;
 }